/*
    style.css - this stylesheet is linked from index.html to apply styles to the products home page.
    Add all of your custom styles here.
*/

header  {
    display:flex;
    justify-content: center;
    border: 5px solid black;
    flex-direction: row;
    /* position: sticky;
    z-index: 999; */
    top: 0;
    background-color: white;
    /* margin-left: auto;
    margin-right: auto; */
    height: 200px;
    text-align: center;



     /* position: fixed; */
    /* margin-left: auto;
    margin-right: auto; */ 

}
#searchProducts{
display: flex;
flex-direction: row;
justify-content: space-between; 
align-items: center;
color:blueviolet;
}
 #logout > a {
    color:red;
}
#search{
    border:none;
    background-color: transparent;
    width: 200px;
}
#image{
    
   
    width: 300px;
    height: 100%;
}

#searchButton {
    cursor: pointer;
    background-color: transparent;
    border:none;
}

#title {
grid-area:title;

}

/* #searchProducts {
    display: flex;
    flex-wrap: wrap;

} */
#searchBar {
    display: inline-block;
    grid-area: searchBar;
    border: 1px solid red;
  
    /* width: 300px;
    height:40px; */
  

}

.paragraph {
    grid-area: paragraph;
}
.logo-container{
    display: flex;
    justify-content: center;

}
.logo-container >img{
    width: 300px;
    margin: 50px;

}

.product-image {
    display: flex;
    justify-content: center;
   
}
.product-image > img {
   max-width: 85%;
   max-height: 85%;
   border-radius: 20px;
   
}
#product-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: flex-start;
    gap: 150px;
    /* margin-left:10%; */
   

}
main{
    overflow: auto;
}
 .product-card{
     border:2px solid black;
     padding: 10px;
     height: 300px;
     width: 300px;
     display: grid;
     margin-left:10px;
    
     grid-template-columns: 1fr 1fr ;
    /* grid-template-rows: 1fr 1fr 3fr 1fr; */
    grid-template-areas: "sku price"
                         "product-name product-name"
                         "product-image product-image"
                         ". cart";
    /* padding-left: 20px;
    padding-right: 20px; */
}


.sku{
    grid-area: sku;

}
.price{
    display: flex;
    justify-content: flex-end;
    grid-area: price;
}
.product-name{
    grid-area:product-name;
    cursor: pointer;
}
.product-image{
    grid-area:product-image;
    height: 200px;
}
.cart{
    display: flex;
    justify-content: flex-end;
    grid-area:cart;
}
.icon{
    cursor: pointer;
}


nav {
 background-color: white;
display: flex;
border: 5px solid black;
justify-content: space-between;
color:rgb(139, 34, 125);

}
#Home > a  { 

     margin-left: 10px;
     margin-right: 20px;
     text-decoration-color: red;
     color: rgba(255, 0, 0, 0.795);

}


#Logout > a{
    margin-right: 10px;
}

div > #Logout > a {
 display: flex;
 

}